body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#container {
    margin: 0 auto;
    max-width: 980px;
    font-family: "Microsoft YaHei";
    font-size: 40px;
    color: white;
}

#container > div {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 980px;
}

.page1 {
    background-color: #d7e8ef;
}

.page2 {
    background-color: #fbfbaa;
}

.page3 {
    background-color: #cbe8ec;
}

.page4 {
    background-color: #d7e8ef;
}

.option {
    position: absolute;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

.page1 .option {
    background-color: #4780d0;
}

.page2 .option {
    background-color: #a1dd65;
}

.page3 .option {
    background-color: #4780d0;
}

.page4 .option {
    background-color: #4780d0;
}

.picture {
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#s1 .option {
    left: 30%;
    width: 620px;
}

#s1o1 {
    top: 8%;
}

#s1o2 {
    top: 23%;
}

#s1o3 {
    top: 38%;
}

#s1o4 {
    top: 53%;
}

#s1o5 {
    top: 68%;
}

#s1o6 {
    top: 83%;
}

#s1 .picture {
    left: 5%;
    width: 230px;
    height: 230px;
}

#s1p1 {
    top: 5%;
    background-image: url(../image/s1/p1.png);
}

#s1p2 {
    top: 20%;
    background-image: url(../image/s1/p2.png);
}

#s1p3 {
    top: 35%;
    background-image: url(../image/s1/p3.png);
}

#s1p4 {
    top: 50%;
    background-image: url(../image/s1/p4.png);
}

#s1p5 {
    top: 65%;
    background-image: url(../image/s1/p5.png);
}

#s1p6 {
    top: 80%;
    background-image: url(../image/s1/p6.png);
}

#s1-1 .option {
    padding: 0;
    width: 230px;
    height: 230px;
    border-radius: 115px;
    line-height: 230px;
}

#s1-1o1 {
    top: 40%;
    left: 5%;
}

#s1-1o2 {
    top: 22%;
    left: 10%;
}

#s1-1o3 {
    top: 10%;
    left: 40%;
}

#s1-1o4 {
    top: 22%;
    left: 70%;
}

#s1-1o5 {
    top: 40%;
    left: 75%;
}

#s1-1 .picture {
    left: 0%;
    width: 100%;
    height: 1120px;
}

#s1-1p1 {
    bottom: 0%;
    background-image: url(../image/s1-1/p1.png);
}

#s1-1-1 .option {
    left: 50%;
    margin-left: -250px;
    width: 500px;
}

#s1-1-1o1,
#s1-1-5o1 {
    top: 40%;
}

#s1-1-1o2,
#s1-1-5o2 {
    top: 55%;
}

#s1-1-1 .picture {
    left: 0%;
}

#s1-1-1p1,
#s1-1-5p1 {
    top: 3%;
    padding-left: 50%;
    width: 50%;
    height: 410px;
    background-image: url(../image/s1-1-1/p1.png);
    line-height: 450px;
}

#s1-1-1p2,
#s1-1-5p2 {
    bottom: 0%;
    width: 100%;
    height: 433px;
    background-image: url(../image/s1-1-1/p2.png);
}

#s1-1-5 .option {
    left: 50%;
    margin-left: -180px;
    width: 400px;
}

#s1-1-5p3 {
    top: 37%;
    left: 20%;
    width: 200px;
    height: 200px;
    background-image: url(../image/s1-1-5/p3.png);
}

#s1-1-5p4 {
    top: 52%;
    left: 20%;
    width: 200px;
    height: 200px;
    background-image: url(../image/s1-1-5/p4.png);
}

#s1-2o1 {
    top: 12%;
    left: 10%;
    background-color: transparent;
    color: #16a0a8;
}

#s1-2o2 {
    top: 20%;
    left: 10%;
    background-color: transparent;
    color: #16a0a8;
}

#s1-2o3 {
    top: 28%;
    left: 10%;
    background-color: transparent;
    color: #16a0a8;
}

#s1-2o4 {
    top: 36%;
    left: 10%;
    background-color: transparent;
    color: #16a0a8;
}

#s1-2o5 {
    top: 44%;
    left: 10%;
    background-color: transparent;
    text-align: left;
    line-height: 50px;
    color: #16a0a8;
}

#s1-2o6 {
    top: 54%;
    left: 5%;
    border-radius: 0px;
    background-color: #16a0a8;
    color: white;
}

#s1-2p1 {
    top: 3%;
    left: 5%;
    z-index: 1;
    padding: 0 20px;
    height: 110px;
    background-color: #16a0a8;
    line-height: 110px;
}

#s1-2p2 {
    top: 9%;
    width: 100px;
    height: 40%;
    background-image: url(../image/s1-2/p1.png);
}

#s1-2p3 {
    bottom: 0%;
    width: 100%;
    height: 686px;
    background-image: url(../image/s1-2/p2.png);
}

#s1-2-1 .option,
#s1-2-2 .option {
    left: 32%;
    width: 500px;
    background-color: #16a0a8;
}

#s1-2-1o1,
#s1-2-2o1 {
    top: 40%;
}

#s1-2-1o2,
#s1-2-2o2 {
    top: 55%;
}

#s1-2-1p1,
#s1-2-2p1,
#s1-2-1-2p1,
#s1-2-2-2p1 {
    top: 3%;
    width: 100%;
    height: 410px;
    background-image: url(../image/s1-2-1/p1.png);
    line-height: 450px;
}

#s1-2-1p2,
#s1-2-2p2 {
    bottom: 0%;
    width: 100%;
    height: 490px;
    background-image: url(../image/s1-2-1/p2.png);
}

#s1-2-1p3,
#s1-2-2p3 {
    top: 37%;
    left: 20%;
    width: 200px;
    height: 200px;
    background-image: url(../image/s1-2-1/p3.png);
}

#s1-2-1p4,
#s1-2-2p4 {
    top: 52%;
    left: 20%;
    width: 200px;
    height: 200px;
    background-image: url(../image/s1-2-1/p4.png);
}

#s1-2-1-2 .option,
#s1-2-2-2 .option {
    width: 400px;
    height: 80px;
    background-color: #16a0a8;
    line-height: 80px;
}

#s1-2-1-2o1,
#s1-2-2-2o1 {
    top: 45%;
    left: 7%
}

#s1-2-1-2o2,
#s1-2-2-2o2 {
    top: 45%;
    left: 54%
}

#s1-2-1-2o3,
#s1-2-2-2o3 {
    top: 58%;
    left: 7%
}

#s1-2-1-2o4,
#s1-2-2-2o4 {
    top: 58%;
    left: 54%
}

#s1-2-1-2o5,
#s1-2-2-2o5 {
    top: 70%;
    left: 30%
}

#s1-3 {
    background-color: #fff2a4;
}

#s1-3 .option {
    left: 50%;
    margin-left: -470px;
    padding: 20px;
    width: 900px;
    height: 120px;
    background-color: #fa9131;
    text-align: left;
    line-height: 60px;
}

#s1-3o1 {
    top: 11%;
}

#s1-3o2 {
    top: 25%;
}

#s1-3p1 {
    bottom: 0%;
    width: 100%;
    height: 1045px;
    background-image: url(../image/s1-3/p1.png);
}

#s1-4o1 {
    top: 14%;
    left: 6%;
    width: 370px;
}

#s1-4o2 {
    top: 14%;
    left: 52%;
    width: 370px;
}

#s1-4o3 {
    top: 22%;
    left: 50%;
    margin-left: -430px;
    width: 820px;
    text-align: left;
}

#s1-4p1 {
    bottom: 0%;
    width: 100%;
    height: 1020px;
    background-image: url(../image/s1-4/p1.png);
}

#s1-4-1 .option {
    left: 14%;
    width: 750px;
}

#s1-4-1o1 {
    top: 36%;
}

#s1-4-1o2 {
    top: 49%;
}

#s1-4-1p1 {
    top: 3%;
    width: 100%;
    height: 430px;
    background-image: url(../image/s1-4-1/p1.png);
}

#s1-4-1p2 {
    bottom: 0%;
    width: 100%;
    height: 672px;
    background-image: url(../image/s1-4-1/p2.png);
}

#s1-5,
#s1-5-1 {
    background-color: #b8edfa;
}

#s1-5 .option,
#s1-5-1 .option {
    padding: 0;
    width: 230px;
    height: 230px;
    border-radius: 115px;
    line-height: 230px;
}

#s1-5o1,
#s1-5-1o1 {
    top: 13%;
    left: 15%;
}

#s1-5o2,
#s1-5-1o2 {
    top: 13%;
    left: 64%;
}

#s1-5p1,
#s1-5-1p1 {
    bottom: 0%;
    width: 100%;
    height: 1210px;
    background-image: url(../image/s1-5/p1.png);
}

#s1-6 {
    background-color: #b8edfa;
}

#s1-6 .option {
    padding: 0;
    width: 230px;
    height: 230px;
    border-radius: 115px;
    line-height: 230px;
}

#s1-6o1 {
    top: 20%;
    left: 11%;
}

#s1-6o2 {
    top: 11%;
    left: 40%;
}

#s1-6o3 {
    top: 20%;
    left: 70%;
    font-size: smaller;
}

#s1-6p1 {
    bottom: 0%;
    width: 100%;
    height: 1160px;
    background-image: url(../image/s1-6/p1.png);
}

#s1-6-2,
#s1-6-2-2,
#s1-6-3 {
    background-color: #b8edfa;
}

#s1-6-2 .option,
#s1-6-2-2 .option,
#s1-6-3 .option {
    left: 50%;
    margin-left: -375px;
    width: 750px;
}

#s1-6-2o1,
#s1-6-2-2o1,
#s1-6-3o1 {
    top: 36%;
}

#s1-6-2o2,
#s1-6-2-2o2,
#s1-6-3o2 {
    top: 49%;
}

#s1-6-2p1,
#s1-6-2-2p1,
#s1-6-3p1 {
    top: 3%;
    width: 100%;
    height: 430px;
    background-image: url(../image/s1-6-2/p1.png);
}

#s1-6-2p2,
#s1-6-2-1p1,
#s1-6-2-2p2,
#s1-6-3p2 {
    bottom: 0%;
    width: 100%;
    height: 584px;
    background-image: url(../image/s1-6-2/p2.png);
}

#s1-6-2-1 .option {
    width: 400px;
}

#s1-6-2-1o1 {
    top: 5%;
    left: 5%;
}

#s1-6-2-1o2 {
    top: 16%;
    left: 5%;
}

#s1-6-2-1o3 {
    top: 27%;
    left: 5%;
}

#s1-6-2-1o4 {
    top: 5%;
    left: 54%;
}

#s1-6-2-1o5 {
    top: 16%;
    left: 54%;
}

#s1-6-2-1o6 {
    top: 27%;
    left: 54%;
}

#s1-6-2-1o7 {
    top: 38%;
    left: 50%;
    margin-left: -200px;
}

#s1-6-2-1o8 {
    top: 49%;
    left: 50%;
    margin-left: -200px;
}

#s1-6-2-1o9 {
    top: 60%;
    left: 50%;
    margin-left: -200px;
}

#s1-6-2-1o10 {
    top: 71%;
    left: 50%;
    margin-left: -200px;
}

#s2 .option {
    left: 40%;
    width: 450px;
}

#s2o1 {
    top: 20%;
}

#s2o2 {
    top: 46%;
}

#s2o3 {
    top: 71%;
}

#s2 .picture {
    width: 300px;
    height: 300px;
}

#s2p1 {
    top: 15%;
    left: 12%;
    background-image: url(../image/s2/p1.png);
}

#s2p2 {
    top: 40%;
    left: 12%;
    background-image: url(../image/s2/p2.png);
}

#s2p3 {
    top: 65%;
    left: 12%;
    background-image: url(../image/s2/p3.png);
}

#s2p4,
#s2p5,
#s2-1p3,
#s2-1p4,
#s2-1-1p3,
#s2-1-1p4,
#s2-1-2p2,
#s2-1-2p3,
#s2-1-2p4,
#s2-1-2-1p3,
#s2-1-2-1p4,
#s2-1-2-1p5,
#s2-1-2-2p3,
#s2-1-2-2p4,
#s2-1-2-2p5,
#s2-1-2-3p3,
#s2-1-2-3p4,
#s2-1-2-3p5,
#s2-1-2-4p3,
#s2-1-2-4p4,
#s2-1-2-4p5,
#s2-1-2-2-1p3,
#s2-1-2-2-1p4,
#s2-1-2-2-1p5,
#s2-1-2-2-2p3,
#s2-1-2-2-2p4,
#s2-1-2-2-2p5 {
    width: 300px;
    height: 110px;
    background-image: url(../image/s2/p4.png);
}

#s2p4 {
    top: 5%;
    left: 5%;
}

#s2p5 {
    top: 85%;
    left: 62%;
}

#s2-1 .option {
    left: 50%;
    margin-left: -200px;
    width: 400px;
}

#s2-1o1 {
    top: 17%;
}

#s2-1o2 {
    top: 28%;
}

#s2-1p1 {
    top: 46%;
    left: 25%;
    z-index: 1;
    width: 500px;
    height: 755px;
    background-image: url(../image/s2-1/p1.png);
}

#s2-1p2,
#s2-1-1p2,
#s2-1-2p1,
#s2-1-2-1p2,
#s2-1-2-2p2,
#s2-1-2-3p2,
#s2-1-2-4p2,
#s2-1-2-2-1p2,
#s2-1-2-2-2p2 {
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 520px;
    background-image: url(../image/s2-1/p2.png);
}

#s2-1p3 {
    top: 13%;
    left: 5%;
}

#s2-1p4 {
    top: 32%;
    left: 67%;
}

#s2-1-1 .option {
    padding: 30px 50px;
    border-radius: 0;
}

#s2-1-1o1 {
    top: 15%;
    left: 12%;
}

#s2-1-1o2 {
    top: 15%;
    left: 40%;
}

#s2-1-1o3 {
    top: 15%;
    left: 69%;
}

#s2-1-1o4 {
    top: 53%;
    left: 50%;
    margin-left: -230px;
    background-color: #58c3f0;
}

#s2-1-1p1 {
    top: 26%;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    height: 372px;
    background-image: url(../image/s2-1-1/p1.png);
}

#s2-1-1p3 {
    top: 43%;
    left: 3%;
}

#s2-1-1p4 {
    top: 60%;
    left: 60%;
}

#s2-1-2 .option {
    padding: 20px 40px;
    background-color: #58c3f0;
}

#s2-1-2o1 {
    top: 19%;
    left: 25%;
}

#s2-1-2o2 {
    top: 19%;
    left: 59%;
}

#s2-1-2o3,
#s2-1-2o4,
#s2-1-2o5,
#s2-1-2o6 {
    left: 50%;
    margin-left: -220px;
    width: 440px;
}

#s2-1-2o3 {
    top: 29%;
}

#s2-1-2o4 {
    top: 39%;
}

#s2-1-2o5 {
    top: 49%;
}

#s2-1-2o6 {
    top: 59%;
}

#s2-1-2p2 {
    top: 22%;
    left: 68%;
}

#s2-1-2p3 {
    top: 40%;
    left: 5%;
}

#s2-1-2p4 {
    top: 65%;
    left: 50%;
}

#s2-1-2-1 .option {
    left: 50%;
    margin-left: -350px;
    padding: 20px 150px;
    width: 400px;
    background-color: #58c3f0;
}

#s2-1-2-1o1 {
    top: 12%;
}

#s2-1-2-1o2 {
    top: 26%;
}

#s2-1-2-1p1 {
    top: 40%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 500px;
    background-image: url(../image/s2-1-2-1/p1.png);
}

#s2-1-2-1p3,
#s2-1-2-2p3,
#s2-1-2-3p3,
#s2-1-2-4p3,
#s2-1-2-2-1p3,
#s2-1-2-2-2p3 {
    top: 22%;
    left: 67%;
}

#s2-1-2-1p4,
#s2-1-2-2p4,
#s2-1-2-3p4,
#s2-1-2-4p4,
#s2-1-2-2-1p4,
#s2-1-2-2-2p4 {
    top: 40%;
    left: 5%;
}

#s2-1-2-1p5,
#s2-1-2-2p5,
#s2-1-2-3p5,
#s2-1-2-4p5,
#s2-1-2-2-1p5,
#s2-1-2-2-2p5 {
    top: 58%;
    left: 69%;
}

#s2-1-2-2o1 {
    top: 18%;
    left: 15%;
}

#s2-1-2-2o2 {
    top: 18%;
    left: 55%;
}

#s2-1-2-2p1 {
    top: 30%;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    height: 350px;
    background-image: url(../image/s2-1-2-2/p1.png);
}

#s2-1-2-3o1 {
    top: 45%;
    left: 50%;
    margin-left: -320px;
    width: 600px;
}

#s2-1-2-3o2 {
    top: 57%;
    left: 17%;
    width: 250px;
}

#s2-1-2-3o3 {
    top: 57%;
    left: 53%;
    width: 250px;
}

#s2-1-2-3o4 {
    top: 66%;
    left: 50%;
    margin-left: -170px;
    width: 300px;
}

#s2-1-2-3o5 {
    top: 13%;
    left: 50%;
    margin-left: -170px;
    width: 300px;
    background-color: #58c3f0;
}

#s2-1-2-3p1 {
    top: 20%;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 400px;
    background-image: url(../image/s2-1-2-3/p1.png);
}

#s2-1-2-4 .option {
    left: 50%;
    margin-left: -350px;
    width: 700px;
}

#s2-1-2-4o1 {
    top: 39%;
}

#s2-1-2-4o2 {
    top: 50%;
}

#s2-1-2-4o3 {
    top: 61%;
}

#s2-1-2-4p1 {
    top: 10%;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 400px;
    background-image: url(../image/s2-1-2-4/p1.png);
}

#s2-1-2-2-1 .option,
#s2-1-2-2-2 .option {
    left: 50%;
    margin-left: -220px;
    width: 400px;
}

#s2-1-2-2-1o1,
#s2-1-2-2-2o1 {
    top: 8%;
}

#s2-1-2-2-1o2,
#s2-1-2-2-2o2 {
    top: 18%;
}

#s2-1-2-2-1o3,
#s2-1-2-2-2o3 {
    top: 28%;
}

#s2-1-2-2-1o4,
#s2-1-2-2-2o4 {
    top: 38%;
}

#s2-1-2-2-1p1,
#s2-1-2-2-2p1 {
    top: 50%;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    height: 350px;
    background-image: url(../image/s2-1-2-2/p1.png);
}
/* why */

#s2-2,
#s2-2-2,
#s2-2-2-1,
#s2-2-3,
#s2-2-3-1,
#s2-2-3-2,
#s2-2-3-3,
#s2-2-4,
#s2-2-4-1,
#s2-2-4-2 {
    background-color: #cde7ff;
}

#s2-2 .option,
#s2-2-3 .option,
#s2-2-3-1 .option,
#s2-2-3-3 .option {
    width: 190px;
    height: 190px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 130px;
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: box;
    box-pack: center;
    box-align: center;
    background-color: #59c4f0;
    font-size: 48px;
}

#s2-2o1 {
    left: 7%;
    top: 31%;
}

#s2-2o2 {
    left: 24%;
    top: 15%;
}

#s2-2o3 {
    left: 54%;
    top: 15%;
}

#s2-2o4 {
    left: 69%;
    top: 31%;
}

#s2-2p1,
#s2-2-2p1,
#s2-2-3p1,
#s2-2-3-1p1,
#s2-2-3-2p1,
#s2-2-3-3p1 {
    top: 42%;
    left: 22%;
    width: 548px;
    height: 580px;
    background-image: url(../image/s2-2/p1.png);
}

#s2-2p2,
#s2-2-2p2,
#s2-2-2-1p2,
#s2-2-3p2,
#s2-2-3-1p2,
#s2-2-3-2p2,
#s2-2-3-3p2,
#s2-2-4p1,
#s2-2-4-1p2,
#s2-2-4-2p2 {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 375px;
    background-image: url(../image/s2-2/p2.png);
}

#s2-2-2 .option,
#s2-2-3-2 .option {
    background-color: #58c3f0;
    width: 480px;
    height: 70px;
    font-size: 48px;
    line-height: 70px;
}

#s2-2-2o1,
#s2-2-3-2o1 {
    left: 24%;
    top: 16%;
}

#s2-2-2o2,
#s2-2-3-2o2 {
    left: 24%;
    top: 27%;
}

#s2-2-2p3,
#s2-2-2p4,
#s2-2-2-1p3,
#s2-2-2-1p4,
#s2-2-4-1p3,
#s2-2-4-1p4,
#s2-2-4-2p3,
#s2-2-4-2p4,
#s2-3p3,
#s2-3p4,
#s2-3-1p3,
#s2-3-1p4,
#s2-3-1-1p3,
#s2-3-1-1p4 {
    width: 200px;
    height: 80px;
}

#s2-2-2p3,
#s2-2-2-1p3 {
    left: 6%;
    top: 19%;
    background-image: url(../image/s2-2-2/p1.png);
    z-index: -1;
}

#s2-2-2p4,
#s2-2-2-1p4 {
    left: 75%;
    top: 30%;
    background-image: url(../image/s2/p4.png);
    z-index: 3;
}

#s2-2-2-1p1 {
    width: 425px;
    height: 525px;
    left: 29%;
    top: 32%;
    background-image: url(../image/s2-2-2-1/p1.png);
}

#s2-2-2-1 .option,
#s2-2-4-2 .option {
    background-color: #58c3f0;
    width: 490px;
    height: 90px;
    font-size: 48px;
    line-height: 90px;
    left: 23%;
}

#s2-2-2-1o1 {
    top: 15%;
}

#s2-2-2-1o2 {
    top: 65%;
}

#s2-2-2-1p3 {
    left: 7%;
    top: 19%;
    background-image: url(../image/s2-2-2/p1.png);
    z-index: 3;
}

#s2-2-2-1p4 {
    left: 72%;
    top: 66%;
    background-image: url(../image/s2/p4.png);
    z-index: -1;
}

#s2-2-3p1 {
    background-image: url(../image/s2-2-3/p1.png);
}

#s2-2-3o1,
#s2-2-3-1o1,
#s2-2-3-3o1 {
    left: 7%;
    top: 26%;
}

#s2-2-3o2,
#s2-2-3-1o2,
#s2-2-3-3o2 {
    left: 38%;
    top: 15%;
}

#s2-2-3o3,
#s2-2-3-1o3,
#s2-2-3-3o3 {
    left: 70%;
    top: 26%;
}

#s2-2-3-1p1 {
    background-image: url(../image/s2-2-3-1/p1.png);
}

#s2-2-3-2p1 {
    background-image: url(../image/s2-2-3-2/p1.png);
}

#s2-2-3-3p1 {
    background-image: url(../image/s2-2-3-3/p1.png);
}

#s2-2-3-1 .option,
#s2-2-3-2 .option,
#s2-2-3-3 .option {
    background-color: #72c58f;
}

#s2-2-4 .option {
    background-color: #59c4f0;
    height: 85px;
    font-size: 48px;
    line-height: 85px;
}

#s2-2-4o1,
#s2-2-4o2 {
    width: 345px;
    top: 17%;
}

#s2-2-4o3,
#s2-2-4o4,
#s2-2-4o5 {
    width: 810px;
    left: 7%;
}

#s2-2-4o1 {
    left: 7%;
}

#s2-2-4o2 {
    left: 54%;
}

#s2-2-4o3 {
    top: 31%;
}

#s2-2-4o4 {
    top: 46%;
}

#s2-2-4o5 {
    top: 61%;
}

#s2-2-4-1 .option {
    background-color: #59c4f0;
    width: 580px;
    font-size: 48px;
    left: 19%;
}

#s2-2-4-1o1 {
    top: 19%;
}

#s2-2-4-1o2 {
    top: 30%;
}

#s2-2-4-1o3 {
    top: 63%;
}

#s2-2-4-1p1 {
    width: 400px;
    height: 380px;
    left: 29%;
    top: 39%;
    background-image: url(../image/s2-2-4-1/p1.png);
}

#s2-2-4-1p3,
#s2-2-4-2p3 {
    left: 8%;
    top: 20%;
    background-image: url(../image/s2-2-2/p1.png);
    z-index: 3;
}

#s2-2-4-1p4,
#s2-2-4-2p4 {
    left: 73%;
    top: 67%;
    background-image: url(../image/s2/p4.png);
    z-index: -1;
}

#s2-2-4-2p1 {
    width: 485px;
    height: 540px;
    left: 25%;
    top: 43%;
    background-image: url(../image/s2-2-4-2/p1.png);
}

#s2-2-4-2p4 {
    left: 64%;
    top: 62%;
}

#s2-2-4-2 .option {
    width: 580px;
}

#s2-2-4-2o1 {
    top: 15%;
}

#s2-2-4-2o2 {
    top: 27%;
}

#s2-3,
#s2-3-1,
#s2-3-1-1 {
    background-color: #beeb9f;
}

#s2-3p1 {
    top: 43%;
    left: 28%;
    width: 375px;
    height: 850px;
    background-image: url(../image/s2-3/p1.png);
    z-index: 3;
}

#s2-3p2,
#s2-3-1p2,
#s2-3-1-1p2 {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 625px;
    background-image: url(../image/s2-3/p2.png);
}

#s2-3 .option,
#s2-3-1 .option,
#s2-3-1-1 .option {
    background-color: #58c3f0;
    width: 415px;
    line-height: 90px;
    font-size: 48px;
    left: 27%;
}

#s2-3o1 {
    top: 15%;
}

#s2-3o2 {
    top: 27%;
}

#s2-3p3,
#s2-3-1p3,
#s2-3-1-1p3 {
    left: 13%;
    top: 16%;
    background-image: url(../image/s2/p4.png);
    z-index: 3;
}

#s2-3p4,
#s2-3-1p4,
#s2-3-1-1p4 {
    left: 76%;
    top: 31%;
    background-image: url(../image/s2/p4.png);
    z-index: -1;
}

#s2-3-1p1,
#s2-3-1-1p1 {
    top: 61%;
    left: 27%;
    width: 450px;
    height: 560px;
    background-image: url(../image/s2-3-1/p1.png);
    z-index: 3;
}

#s2-3-1 .option {
    width: 480px;
    left: 24%;
}

#s2-3-1o1 {
    top: 15%;
}

#s2-3-1o2 {
    top: 26%;
}

#s2-3-1o3 {
    top: 37%;
}

#s2-3-1-1 .option {
    width: 665px;
    left: 14%;
}

#s2-3-1-1o1 {
    top: 14%;
}

#s2-3-1-1o2 {
    top: 33%;
}

.page3 div {
    padding: 0;
}

#s3 {
    background-color: #cbe8ec;
}

#s3-1 {
    background-color: #f8ebda;
}

#s3-1-5 {
    background-color: #7be5ff;
}

#s3-2 {
    background-color: #ffbbc8;
}

#s3-3,
#s3-3-1,
#s3-3-1-1,
#s3-3-1-1-1,
#s3-3-2 {
    background-color: #fc9e54;
}

#s3 .option {
    width: 195px;
    height: 65px;
    line-height: 65px;
    background-color: #fca35d;
    font-size: 48px;
}

#s3o1 {
    top: 29%;
    left: 18%;
}

#s3o2 {
    top: 29%;
    left: 64%;
}

#s3o3 {
    top: 55%;
    left: 40%;
}

#s3 .picture {
    position: absolute;
    width: 295px;
    height: 295px;
}

#s3p1 {
    top: 11%;
    left: 13%;
    background-image: url(../image/s3/p1.png);
}

#s3p2 {
    top: 11%;
    left: 57%;
    background-image: url(../image/s3/p2.png);
}

#s3p3 {
    top: 37%;
    left: 35%;
    background-image: url(../image/s3/p3.png);
}

#s3p4 {
    position: absolute;
    width: 100%;
    height: 500px;
    bottom: 0;
    background-image: url(../image/s3/p4.png);
}

#s3-1 .option {
    height: 100px;
    background-color: #f18e67;
    line-height: 100px;
    font-size: 48px;
}

#s3-1o1 {
    width: 245px;
    left: 5%;
    top: 8%;
}

#s3-1o2 {
    width: 245px;
    left: 36%;
    top: 8%;
}

#s3-1o3 {
    width: 268px;
    left: 67%;
    top: 8%;
}

#s3-1o4 {
    width: 245px;
    left: 5%;
    top: 17%;
}

#s3-1o5 {
    width: 245px;
    left: 36%;
    top: 17%;
}

#s3-1o6 {
    width: 268px;
    left: 67%;
    top: 17%;
}

#s3-1p1,
#s3-1-2p1,
#s3-1-2-1p1,
#s3-1-3p1,
#s3-1-3-1p2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 959px;
    background-image: url(../image/s3/p5.png);
}

#s3-1-2 .option,
#s3-1-3 .option {
    height: 100px;
    background-color: #f18e67;
    line-height: 100px;
    font-size: 48px;
    text-align: left;
    text-indent: 30px;
}

#s3-1-2o1,
#s3-1-3o1 {
    left: 10%;
    top: 8%;
    width: 784px;
}

#s3-1-2o2,
#s3-1-3o2 {
    left: 10%;
    top: 17%;
    width: 784px;
}

#s3-1-2-1 .option,
#s3-1-5-1 .option {
    height: 92px;
    background-color: #f18e67;
    line-height: 92px;
    font-size: 45px;
    padding: 0 10px;
}

#s3-1-2-1o1,
#s3-1-5-1o1 {
    left: 18%;
    top: 6%;
}

#s3-1-2-1o2,
#s3-1-5-1o2 {
    left: 54%;
    top: 6%;
}

#s3-1-2-1o3,
#s3-1-5-1o3 {
    left: 18%;
    top: 15%;
}

#s3-1-2-1o4,
#s3-1-5-1o4 {
    left: 62.5%;
    top: 15%;
}

#s3-1-3p2,
#s3-1-3-1p1 {
    position: absolute;
    width: 340px;
    height: 340px;
    left: 60%;
    top: 33%;
    background-image: url(../image/s3/p6.png);
}

#s3-1-3-1 .option,
#s3-1-6-1 .option {
    height: 92px;
    width: 725px;
    background-color: #f18e67;
    line-height: 92px;
    font-size: 45px;
}

#s3-1-3-1o1,
#s3-1-6-1o1 {
    left: 14%;
    top: 9%;
}

#s3-1-3-1o2,
#s3-1-6-1o2 {
    left: 14%;
    top: 17%;
}

#s3-1-5 .option,
#s3-1-6 .option {
    height: 93px;
    width: 620px;
    background-color: #4cc3eb;
    line-height: 93px;
    font-size: 45px;
}

#s3-1-5o1,
#s3-1-6o1 {
    left: 17%;
    top: 6%;
}

#s3-1-5o2,
#s3-1-6o2 {
    left: 17%;
    top: 13%;
}

#s3-1-5p1,
#s3-1-6p1,
#s3-1-6-1p1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1249px;
    background-image: url(../image/s3/p7.png);
}

#s3-1-5-1 .option {
    background-color: #4cc3eb;
}

#s3-1-6p2,
#s3-1-6-1p2 {
    position: absolute;
    width: 310px;
    height: 310px;
    left: 10%;
    top: 36%;
    background-image: url(../image/s3/p8.png);
}

#s3-1-6-1 .option {
    background-color: #4cc3eb;
}

#s3-2 .option,
#s3-2-1 .option,
#s3-2-1-1 .option,
#s3-2-1-1-1 .option,
#s3-2-1-2 .option,
#s3-2-2 .option,
#s3-2-2-1 .option,
#s3-2-2-2 .option,
#s3-2-3 .option {
    height: 90px;
    background-color: #f18e67;
    line-height: 90px;
    font-size: 48px;
    left: 50%;
}

#s3-2 .option {
    width: 460px;
    margin-left: -230px;
}

#s3-2o1 {
    top: 9%;
}

#s3-2o2 {
    top: 18%;
}

#s3-2o3 {
    top: 28%;
}

#s3-2 .picture,
#s3-2-1 .picture,
#s3-2-1-1 .picture,
#s3-2-1-1-1 .picture,
#s3-2-1-1-1-1 .picture,
#s3-2-1-2 .picture,
#s3-2-2 .picture,
#s3-2-2-1 .picture,
#s3-2-2-2 .picture,
#s3-2-3 .picture,
#s3-2-3-1 .picture {
    width: 100%;
    position: absolute;
}

#s3-2p1,
#s3-2-1p1,
#s3-2-1-1p1,
#s3-2-1-1-1p1,
#s3-2-1-1-1-1p1,
#s3-2-1-2p1,
#s3-2-2p1,
#s3-2-2-1p1,
#s3-2-2-2p1,
#s3-2-3p1,
#s3-2-3-1p1 {
    height: 535px;
    bottom: 0;
    background-image: url(../image/s3/p9.png);
}

#s3-2p2,
#s3-2-1p1,
#s3-2-1-1p2,
#s3-2-1-1-1p2,
#s3-2-1-2p2 {
    height: 815px;
    bottom: 165px;
    background-image: url(../image/s3/p10.png);
}

#s3-2-2p2,
#s3-2-2-1p2,
#s3-2-2-2p2,
#s3-2-3p2,
#s3-2-3-1p2 {
    height: 815px;
    bottom: 165px;
    background-image: url(../image/s3/p11.png);
}

#s3-2-1 .option,
#s3-2-2 .option {
    width: 360px;
    margin-left: -180px;
}

#s3-2-1o1,
#s3-2-2o1,
#s3-2-3o1 {
    top: 10%;
}

#s3-2-1o2,
#s3-2-2o2,
#s3-2-3o2 {
    top: 19%;
}

#s3-2-1-1 .option,
#s3-2-2-1 .option {
    width: 600px;
    margin-left: -300px;
}

#s3-2-1-1o1,
#s3-2-2-1o1 {
    top: 9%;
}

#s3-2-1-1o2,
#s3-2-2-1o2 {
    top: 19%;
}

#s3-2-1-1o3,
#s3-2-2-1o3 {
    top: 29%;
}

#s3-2-1-1-1 .option {
    width: 500px;
    margin-left: -250px;
}

#s3-2-1-1-1o1 {
    top: 17%;
}

#s3-2-1-1-1o2 {
    top: 27%;
}

#s3-2-1-1-1-1 .option {
    width: 640px;
    height: auto;
    background-color: #f18e67;
    font-size: 48px;
    left: 50%;
    margin-left: -320px;
}

#s3-2-1-1-1-1p2 {
    height: 815px;
    bottom: 80px;
    background-image: url(../image/s3/p10.png);
}

#s3-2-1-1-1-1o1 {
    top: 5%;
    line-height: 90px;
}

#s3-2-1-1-1-1o2 {
    top: 15%;
    line-height: 90px;
}

#s3-2-1-1-1-1o3 {
    top: 25%;
    line-height: 65px;
}

#s3-2-1-1-1-1o4 {
    top: 37%;
    line-height: 65px;
}

#s3-2-1-2 .option,
#s3-2-2-2 .option {
    width: 900px;
    margin-left: -450px;
}

#s3-2-1-2o1,
#s3-2-2-2o1 {
    top: 17%;
}

#s3-2-1-2o2,
#s3-2-2-2o2 {
    top: 27%;
}

#s3-2-3 .option {
    width: 600px;
    margin-left: -300px;
}

#s3-2-3-1 .option {
    width: 660px;
    height: auto;
    background-color: #f18e67;
    font-size: 48px;
    left: 50%;
    margin-left: -330px;
}

#s3-2-3-1o1 {
    top: 8%;
    line-height: 90px;
}

#s3-2-3-1o2 {
    top: 17%;
    line-height: 65px;
}

#s3-2-3-1o3 {
    top: 29%;
    line-height: 65px;
}

#s3-3 .option,
#s3-3-1 .option,
#s3-3-1-1-1 .option,
#s3-3-2 .option {
    width: 420px;
    height: 124px;
    left: 50%;
    margin-left: -210px;
    background-color: #ff8e36;
    line-height: 124px;
    font-size: 50px;
    z-index: 3;
}

#s3-3o1,
#s3-3-1-1-1o1,
#s3-3-2o1 {
    top: 7%;
}

#s3-3o2,
#s3-3-1-1-1o2,
#s3-3-2o2 {
    top: 19%;
}

#s3-3 .picture,
#s3-3-1 .picture,
#s3-3-1-1 .picture,
#s3-3-1-1-1 .picture,
#s3-3-2 .picture {
    position: absolute;
}

#s3-3p1,
#s3-3-1p1,
#s3-3-1-1p1,
#s3-3-1-1-1p1,
#s3-3-2p1 {
    width: 100%;
    height: 960px;
    top: 0;
    background-image: url(../image/s3/p12.png);
}

#s3-3p2,
#s3-3-1p2,
#s3-3-1-1p2,
#s3-3-1-1-1p2,
#s3-3-2p2 {
    bottom: -20px;
    left: 16%;
    width: 650px;
    height: 960px;
    background-image: url(../image/s3/p13.png);
    z-index: 3;
}

#s3-3-1o1 {
    top: 5%;
}

#s3-3-1o2 {
    top: 16%;
}

#s3-3-1o3 {
    top: 27%;
}

#s3-3-1-1 .option {
    height: 124px;
    background-color: #ff8e36;
    line-height: 124px;
    font-size: 50px;
    z-index: 3;
}

#s3-3-1-1o1 {
    width: 360px;
    left: 11%;
    top: 5%;
}

#s3-3-1-1o2 {
    width: 360px;
    left: 53%;
    top: 5%;
}

#s3-3-1-1o4 {
    width: 360px;
    left: 11%;
    top: 25%;
}

#s3-3-1-1o5 {
    width: 360px;
    left: 53%;
    top: 25%;
}

#s3-3-1-1o3 {
    width: 769px;
    left: 11%;
    top: 15%;
}

#s3-3-2p2 {
    background-image: url(../image/s3/p14.png);
}